<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h2 class="heading">Register Here</h2>
            <div class="col-md-12">
                <form>
                    <div class="form-group try">
                        <label class="try1">Name </label>
                        <input type="text" #nameForm class="form-control try2" id="exampleInputName"  placeholder="Enter name" >
                    </div><br>
                    <div class="form-group try">
                        <label class="try1" >Email address</label>
                        <input type="email" #emailForm class="form-control try2" id="exampleInputEmail1"  placeholder="Enter email" >
                    </div><br>
                    <div class="form-group try" >
                        <label class="try1">Department</label>
                        <input type="department" #deptForm class="form-control try2" id="exampleInputdepartment" placeholder="Department" >
                    </div><br>
                    <div class="form-group try">
                        <label class="try1">Phone Number</label>
                        <input type="text" #numberForm class="form-control try2" id="exampleInputNumber"  placeholder="Enter number">
                    </div><br>
                    <button type="button" (click)="submit(nameForm.value,emailForm.value,deptForm.value,numberForm.value)" class="btn btn-secondary but">Submit</button>
                </form>
            </div>
            <div class="col-md-12">
                <div class="result">
                    <div class="output">
                        <label><b>Name</b></label>: <span>{{name2}}</span>
                    </div>
                    <div class="output">
                        <label><b>Email</b></label>: <span>{{email2}}</span>
                    </div>
                    <div class="output">
                        <label><b>Department</b></label>: <span>{{department}}</span>
                    </div>
                    <div class="output">
                        <label><b>Phone Number</b></label>: <span>{{number2}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>