<div id="content">
    
    <div class="container-fluid content">
        <div class="l1">
        <p class="h1"><b>Learn to &#123;C0de&#125;/_</b></p><br>
        <p class="h2"><b>Advance your Career</b></p><br>
        <p class="h5">Comprehensive course designed by experts for anyone, with easy to understand concepts, engaging videos and lab exercises to practice what you learnt.</p><br>
        <button type="button" class="btn btn-lg bu2">Get Started</button>

   
        
    </div>
    </div>
</div>
