<app-signup-header></app-signup-header>  
<div class="container-fluid content">
        <div class="row">
            <div class="col-md-12 store">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><br></h5>
                        <a routerLink="/sign-up" class="btn btn-secondary demo">Register</a>
                        <br>
                        <h5 class="card-title"><br></h5>
                        <a routerLink="/news" class="btn btn-secondary demo">clone<br></a>
                    </div>
                </div>
                
            </div>
            
        </div>
    
</div>

<app-app-footer></app-app-footer>