<!-- Image and text -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/code.png" width="30" height="30" class="d-inline-block align-top" alt="">
        CODE SCHOOL
      </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Courses <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Career path</a>
      </div>
    </div>
    <form class="form-inline">
        <button class="btn my-2 my-sm-0 bu1" type="submit">Sign in</button>
        <button class="btn my-2 my-sm-0 bu2" type="submit">Sign up</button>
        
      </form>
  </nav>
  
