<footer class="text-center text-lg-start bg-dark text-white">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>What is Angular?
                    </h6>
                    <p>
                        Angular is a development platform, built on TypeScript.With Angular, you're taking advantage of a platform that can scale from single-developer projects to enterprise-level applications.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        HOME
                    </h6>
                    <p>
                        <a href="#" class="text-reset">News</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Sport</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Weather</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Worklife</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        NEWS DAILY
                    </h6>
                    <p>
                        <a href="#" class="text-reset">Reels</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Travel</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Future</a>
                    </p>
                    <p>
                        <a href="#" class="text-reset">Culture</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i>101 Wood Lane, London, UK.</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> lotus123@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +55 7624 800100</p>
                    <p><i class="fas fa-print me-3"></i> +55 7624 800101</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" target="_blank" href="#">Thamarai selvi</a>
    </div>
    <!-- Copyright -->
</footer>